* {
  box-sizing: border-box;
  padding: 5px;
  text-decoration: none;
}

@media screen and (min-width: 0) and (max-width: 499px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url(./srcpics/mrsTooth.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 50% 0%; */
  }
  header {
    display: flex;
    flex-direction: column;
    border: 1px solid darkblue;
    /* background-color: lightskyblue; */
    border-radius: 10px;
    height: 350px;
    justify-content: space-between;
    align-items: center;
  }
  .title a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-size: 20pt;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: 2px solid darkblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .title img {
    height: 100px;
  }
  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 80%;
  }
  .nav img {
    height: 80px;
    padding: 10px;
    box-shadow: inset 5px 5px 5px grey;
    border: 1px solid black;
    border-radius: 5px;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25pt;
  }
  .card {
    /* background-color: beige; */
    height: 400px;
    width: 100%;
    border: 2px solid black;
    color: black;

    border-radius: 10px;
  }
  .toothCard {
    border: 1px solid black;
    border-radius: 5px;
  }
  .toothTitle {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
  }
  .descript {
    display: flex;
    flex-direction: row;
  }
  .descript img {
    height: 200px;
  }
  /* This if the form control section */
  .rcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  .price p {
    text-align: center;
    font-size: 20pt;
  }
  /* Common styles for form controls */
  .form {
    display: none;
    text-align: center;
    font-size: 20pt;
  }

  /* Common styles for price input elements */
  input[type="text"] {
    font-size: 20pt;
  }

  /* Common styles for description input elements */
  textarea {
    height: 300px;
    width: 100%;
    font-size: 20pt;
    word-wrap: break-word;
  }

  /* Specific styles for individual cards */
  #TLMolar18Price,
  #TLMolar17Price,
  #TLMolar16Price,
  #TLBicusp15Price,
  #TLBicusp14Price {
    font-size: 20pt;
  }

  #TLMolar16Desc {
    width: 100%; /* Adjust the width for TLMolar16Desc */
  }

  /* Hide forms for specific cards */
  #card2 .form,
  #card3 .form,
  #card4 .form,
  #card5 .form {
    display: none;
  }

  .appoint {
    font-size: 40pt;
    color: darkgreen;
    font-weight: 600;
  }
  .nextUp {
    height: 100px;
  }
  input[type="datetime-local"] {
    width: 200px; /* Set the width as per your preference */
    height: 100px; /* Set the height as per your preference */
    font-size: 20pt;
  }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url(./srcpics/mrsTooth.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 50% 0%; */
  }
  header {
    display: flex;
    flex-direction: column;
    border: 1px solid darkblue;
    /* background-color: lightskyblue; */
    border-radius: 10px;
    height: 350px;
    justify-content: space-between;
    align-items: center;
  }
  .title a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-size: 20pt;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: 2px solid darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  .title img {
    height: 100px;
  }
  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 80%;
  }

  .nav img {
    height: 100px;
    box-shadow: inset 5px 5px 5px grey;
    border: 1px solid black;
    border-radius: 5px;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25pt;
  }
  .card {
    /* background-color: beige; */
    height: 300px;
    width: 100%;
    border: 2px solid black;
    color: black;

    border-radius: 10px;
  }
  .toothCard {
    border: 1px solid black;
    border-radius: 5px;
  }
  .toothTitle {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
  }
  .descript {
    display: flex;
    flex-direction: row;
    font-size: 20pt;
  }
  .descript img {
    height: 200px;
  }
  /* This if the form control section */
  .TLMolar18 {
    display: none;
    text-align: center;
    font-size: 20pt;
  }
  /* Common styles for form controls */
  .form {
    display: none;
    text-align: center;
    font-size: 20pt;
  }

  /* Common styles for price input elements */
  input[type="text"] {
    font-size: 20pt;
  }

  /* Common styles for description input elements */
  textarea {
    height: 300px;
    width: 100%;
    font-size: 20pt;
    word-wrap: break-word;
  }

  /* Specific styles for individual cards */
  #TLMolar18Price,
  #TLMolar17Price,
  #TLMolar16Price,
  #TLBicusp15Price,
  #TLBicusp14Price {
    font-size: 20pt;
  }

  #TLMolar16Desc {
    width: 100%; /* Adjust the width for TLMolar16Desc */
  }

  /* Hide forms for specific cards */
  #card2 .form,
  #card3 .form,
  #card4 .form,
  #card5 .form {
    display: none;
  }

  .rcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  .price p {
    text-align: center;
    font-size: 20pt;
  }
  /* This if the form control section */
  .TLMolar18 {
    display: none;
    text-align: center;
    font-size: 20pt;
  }
  #TLMolarPrice18 {
    font-size: 20pt;
  }
  #TLMolarDesc18 {
    height: 300px;
    width: 50%;
    font-size: 20pt;
    word-wrap: break-word;
  }
  .appoint {
    font-size: 40pt;
    color: darkgreen;
    font-weight: 600;
  }
  .nextUp {
    height: 100px;
  }
  input[type="datetime-local"] {
    width: 200px; /* Set the width as per your preference */
    height: 100px; /* Set the height as per your preference */
    font-size: 20pt;
  }
}

@media screen and (min-width: 1001px) {
  body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url(./srcpics/mrsTooth.png);
      background-size: 600px;
      background-repeat: no-repeat;
      background-position: 50% 0%; */
  }
  header {
    display: flex;
    flex-direction: row;
    border: 1px solid darkblue;
    /* background-color: lightskyblue; */
    border-radius: 10px;
    height: 350px;
    justify-content: space-between;
    align-items: center;
  }
  .title a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    font-size: 20pt;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border: 2px solid darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .title img {
    height: 200px;
  }
  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 80%;
  }
  .nav img {
    height: 150px;
    box-shadow: inset 5px 5px 5px grey;
    border: 1px solid black;
    border-radius: 5px;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25pt;
  }
  .card {
    /* background-color: beige; */
    height: 300px;
    width: 100%;
    border: 2px solid black;
    color: black;

    border-radius: 10px;
  }
  .toothCard {
    border: 1px solid black;
    border-radius: 5px;
  }
  .toothTitle {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
  }
  .descript {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  .descript img {
    height: 300px;
  }
  .rcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
  }
  .price p {
    text-align: center;
    font-size: 20pt;
  }
  /* This if the form control section */
  .TLMolar18 {
    display: none;
    text-align: center;
    font-size: 20pt;
  }
  #TLMolarPrice18 {
    font-size: 20pt;
  }
  #TLMolarDesc18 {
    height: 300px;
    width: 50%;
    font-size: 20pt;
    word-wrap: break-word;
  }
  .TLMolar17 {
    display: none;
    text-align: center;
    font-size: 20pt;
  }
  #TLMolarPrice17 {
    font-size: 20pt;
  }
  #TLMolarDesc17 {
    height: 300px;
    width: 50%;
    font-size: 20pt;
    word-wrap: break-word;
  }
  /* Common styles for form controls */
  .form {
    display: none;
    text-align: center;
    font-size: 20pt;
  }

  /* Common styles for price input elements */
  input[type="text"] {
    font-size: 20pt;
  }

  /* Common styles for description input elements */
  textarea {
    height: 300px;
    width: 100%;
    font-size: 20pt;
    word-wrap: break-word;
  }

  /* Specific styles for individual cards */
  #TLMolar18Price,
  #TLMolar17Price,
  #TLMolar16Price,
  #TLBicusp15Price,
  #TLBicusp14Price {
    font-size: 20pt;
  }

  #TLMolar16Desc {
    width: 100%; /* Adjust the width for TLMolar16Desc */
  }

  /* Hide forms for specific cards */
  #card2 .form,
  #card3 .form,
  #card4 .form,
  #card5 .form {
    display: none;
  }

  .appoint {
    font-size: 40pt;
    color: darkgreen;
    font-weight: 600;
  }
  .nextUp {
    height: 100px;
  }
  input[type="datetime-local"] {
    width: 200px; /* Set the width as per your preference */
    height: 100px; /* Set the height as per your preference */
    font-size: 20pt;
  }
}
